<div class="col-xs-3">
    
    <!-- class="container" -->
      <div class="page-header">
        <h1>A checklist</h1>
      </div>
      
      <div class="alert alert-info" role="alert" ng-if="!vm.items || vm.items.length == 0">
        There are no items yet.
      </div>
      
      <div ng-if="vm.items.length > 0">
	      <div ng-repeat="item in vm.items">
	      	<button ng-click='vm.deleteItem(item)' class="btn btn-default"> 
	          <span class="glyphicon glyphicon-minus"></span>
	        </button>
	        <button ng-click='vm.updateItem(item)' class="btn btn-default"> 
	          <span class="glyphicon glyphicon-edit"></span>
	        </button>
	      	{{item}}
	      </div>
      </div>
       
     
     
     
     
     
      <div>
      	<input type="text" ng-model="vm.newItem.name" /> 
        <span class="input-group-btn">
	        <button ng-click='vm.addItem()' class="btn btn-default"> 
	          <span class="glyphicon glyphicon-plus"></span>
	        </button>
		</span>
      </div>  
</div>